version: '2.1'

services:
  temporal:
    image: temporalio/auto-setup:latest
    environment:
      - DB=sqlite
      - SKIP_DEFAULT_NAMESPACE_CREATION=false
    restart: always

  worker:
    build: ./worker
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
    restart: always

  web:
    build: ./web
    depends_on:
      - worker
    ports:
      - "80:80"
    restart: always
